body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4bd45f;
    color: #131515;
}

header {
    background-color: #434a64;
    color: rgb(246, 242, 5);
    padding: 20px;
    text-align: center;
    background-image: url('https://i.postimg.cc/XYwzNx1R/obelisco-noche-gente-luces.jpg');
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(240, 240, 10);
    text-decoration: none;
}

main {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

    
.container_contact-box {
    max-width: 800px;
    background-color: #a8f3a8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    
}

.container_contact-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container_contact-box input,
.container_contact-box textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-full {
    background-color: #ade53e;
    color:white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}